.secondary-menu-markup {
  > button {
    width: max-content;
    margin-right: 15px;
  }
}
.use-menu-markup {
  display: flex;
  margin-right: 10px;
}

.nav-my-projects .Polaris-Badge {
  background-color: #78cfd9;
}

.nav-my-plan .Polaris-Badge,
.nav-more .Polaris-Badge {
  background-color: #72e8b8;
}

.nav-settings {
  position: absolute;
  bottom: 5%;
}

.home-btn {
  width: 188px;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

.table-type .Polaris-Badge {
  border-radius: 3px;
}

.btn-loading {
  height: 25px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
