.secondary-menu-markup {
  > button {
    width: max-content;
    margin-right: 15px;
  }
}
.use-menu-markup {
  display: flex;
  margin-right: 10px;
}

.home-btn {
  width: 188px;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

.btn-loading {
  height: 25px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
